/* background cover */

body {
    background-size: cover;
}

/* game path */
#boardWrapper{
    width: 80%;
    margin-left: 10%;
}

.start {
    height: 75px;
    width: 75px;
    border: 2px solid white;
    vertical-align: bottom;
    margin-bottom: 4px;
    text-align: center;
    color: black;
    background-color: white;
}

.RED {
    background-color: red;
    height: 75px;
    width: 75px;
    border: 2px solid white;
}

.BLUE {
    background-color: blue;
    height: 75px;
    width: 75px;
    border: 2px solid white;
}

.GREEN {
    background-color: green;
    height: 75px;
    width: 75px;
    border: 2px solid white;
}

.PURPLE {
    background-color: purple;
    height: 75px;
    width: 75px;
    border: 2px solid white;
}


div {
    display: inline-block;
    border-radius: 12px;
}

#section_nine {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

#section_eight {
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
}

#section_seven {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

#section_six {
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
}

#section_five {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

#section_four {
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
}

#section_three {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

#section_two {
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
}

#section_one {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

.hideMe {
    display: none;
}

/* character images on both sides of game board */

#storm_trooper {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    right: 224px;
    top: 12px;
    transform: rotate(20deg);
}

#r2 {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    left: 232px;
    top: 350px;
    transform: rotate(340deg);  
}

#vader {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    transform: rotate(270deg);
    top: 64px;
    left: 294px;
}

#c3 {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    transform: rotate(180deg);
    top: 390px;
}

#yoda {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    bottom: -50px; 
    left: 252px;
 
}

#chewy {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    bottom: 100px; 
    right: 275px;
    transform: rotate(55deg);
}

/* PLAYER/CPU TOKENS */

.playerClass{
    content: url(player1.png);

}


.comp1Class {
    content: url(droid1.png);

}

.comp2Class {
    content: url(droid2.png);

}

.comp3Class {
    content: url(droid3.png);

}

/* Side Bar */
#sideBar {
    height: 700px;
    width: 200px;
    background: red;
    position: fixed;
    right: 70px;
    top: 80px;
    text-align: center;
    border: 4px solid white
}

.buttons {
    margin: 20px auto;
    display: block;
    border: 2px solid white;
    border-radius: 10px;
    background: none;
    color: white;
    font-size: 18px;
    padding: 15px 10px 10px 10px;

}

#playerWrap {
    border: 2px solid white;
    padding: 20px;
}

.players {
    color: white;
}