/* background cover */

body {
    /* background-size: cover; */
}

/* game path */

.start {
    height: 75px;
    width: 75px;
    border: 2px solid white;
    vertical-align: bottom;
    margin-bottom: 4px;
    text-align: center;
    color: black;
    background-color: white;
}

.RED {
    background-color: red;
    height: 75px;
    width: 75px;
    border: 2px solid white;
}

.BLUE {
    background-color: blue;
    height: 75px;
    width: 75px;
    border: 2px solid white;
}

.GREEN {
    background-color: green;
    height: 75px;
    width: 75px;
    border: 2px solid white;
}

.PURPLE {
    background-color: purple;
    height: 75px;
    width: 75px;
    border: 2px solid white;
}


div {
    display: inline-block;
    border-radius: 12px;
}

#section_nine {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

#section_eight {
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
}

#section_seven {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

#section_six {
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
}

#section_five {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

#section_four {
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
}

#section_three {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

#section_two {
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
}

#section_one {
    float: left;
    margin-left: 20%;
    margin-bottom: 30px;
}

/* character images on both sides of game board */

#storm_trooper {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    right: 224px;
    top: 12px;
    transform: rotate(20deg);
}

#r2 {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    left: 232px;
    top: 350px;
    transform: rotate(340deg);  
}

#vader {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    transform: rotate(270deg);
    top: 64px;
    left: 294px;
}

#c3 {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    transform: rotate(180deg);
    top: 390px;
}

#yoda {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    bottom: -50px; 
    left: 252px;
 
}

#chewy {
    height: 150px;
    width: 150px;
    z-index: -1;
    position: absolute;
    bottom: 100px; 
    right: 275px;
    transform: rotate(55deg);
}

/* PLAYER/CPU TOKENS */
#playerClass {
    content: url('/images/player1.png');
    grid-row-start: 1;
    grid-column-start: 1;
    width: 25px;
    height: 25px;

}

#comp1Class {
    content: url('/images/comp1.png');
    grid-row-start: 1;
    grid-column-start: 2;
    width: 25px;
    height: 25px;
}

#comp2Class {
    content: url('/images/comp2.png');
    grid-row-start: 2;
    grid-column-start: 1;
    width: 25px;
    height: 25px;
}

#comp3Class {
    content: url('/images/comp3.png');
    grid-row-start: 2;
    grid-column-start: 2;
    width: 25px;
    height: 25px;
}
